doctype html 
html
  head
    title Zumba Acadmey
    block scripts  
    block style   
  body
    block content
    footer#footer 
          | Copyright 2020 KunalZumbaAcademy.com | All Rights reserved
    script 
       include ../static/index.js    